/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

